 *{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family:"roboto", sans-serif;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}
header .logo {
    font-size: 25px;
}
header .logo span {
    color: #93d6d0;
}
header .menu a {
    position:relative;
    margin: 0 10px;
    text-decoration: 0;
    color: #999;
    transition: 0.5;

}
header .menu a::before {
    position: absolute;
    top: -2px;
    content: "";
    width:100%;
    height: 2px;
    background-color: #93d6d0;
    transition: 0.5;
}

header.menu a:hover:before {
     width: 100px;
}

header .menu a:hover {
      color: #000;
}
 /*home*/


 .home{
    height:calc(100vh - 55px);
    background:url(pexels-pixabay-236380.jpg);
    background-position:center;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    padding-bottom: 50px;

 }
.home-infos {
    background-color: #fff;
    border-radius: 60px;
    padding: 50px;
    animation: anime 2s linear;
} 

/*animation home-infos*/

@keyframes anime{
    from{
        transform:translateX(-600px)
    }
}
