body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
}

.header {
  background-color: #0069c0;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav a.active,
.nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: #d1ecf1;
  padding: 40px 20px;
  text-align: center;
}

.hero h1 {
  color: #0069c0;
}

.content {
  max-width: 600px;
  margin: auto;
  padding: 30px 20px;
  font-size: 18px;
  line-height: 1.6;
}

.footer {
  background-color: #0069c0;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'segoe ui', sans-serif;
  background-image: url("c:\Users\wina's\Desktop\projet-final-Rahim1512\codebase\image\WhatsApp Image 2025-06-24 à 08.26.59_6f6c9381.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  z-index: -1;
}